.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

.header {
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoIcon {
    height: 34px;
}

.logoText {
    color: var(--text-primary);
    font-size: 1.7rem;
    font-weight: 600;
}

.headerControls {
    display: flex;
    gap: 1rem;
    align-items: center;
}



@media (max-width: 640px) {
    .container {
        padding: 0 1rem;
    }

    .headerControls {
        gap: 0.5rem;
    }
}

@media (max-width: 480px) {
    .logoText {
        display: none;
    }
}

/* rtl Support  */
[dir= "rtl"] .logo{
    gap: .2rem;
}