.close{
  display: none;
}

.open{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: azure;
  padding: 30px;
  border-radius: 10px;
  z-index: 1010;
}

.modal{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}